{% extends "base.html" %}
{% block header %}
   <h3>{{ title }}</h3>
{% endblock %}
{% block data %}
   <form action="." method="POST">
   {% csrf_token %}
   {{form.as_p}}
   <button>Save</button>
   </form>
{% endblock %}
