{% extends "base.html" %}
{% block header %}
   <h3>{{ title }}</h3>
{% endblock %}
{% block data %}
   <ul>
       {% for product in object_list %}
       <li><a href="{% url 'edit_product' product_id=product.id %}">{{ product.name }}</a></li>
       {% empty %}
          <li>No products yet.</li>
       {% endfor %}
   </ul>
{% endblock %}
